<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Mauro Servienti — Feedz.io / pre-releases" value="https://f.feedz.io/mauroservienti/pre-releases/nuget/index.json" />
    <add key="Particular Feedz.io" value="https://f.feedz.io/particular-software/packages/nuget/index.json" />
  </packageSources>
</configuration>
